.compra_fin{
    color:white;
    font-family: 'Bebas Neue', cursive;
}

.p_fin{
    color:white;
    margin-bottom: 60px;
}

.button_fin{
    font-family: 'Bebas Neue', cursive;
    font-size: 120%;
    text-align: center;
    padding:10px 30px 10px 30px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10%;
    border:solid 1px white;
}

.checkout{
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.btn{
    margin-top: 30px;
}

.error_message{
    font-family: 'Bebas Neue', cursive;
    color:red;
}