.card{
    margin-bottom: 30px;
    width: 300px;
    border: none;
        .card_text{
            text-align: center;
            margin:10px;
        }
        .img_card{
            width: 200px;
            height: 200px;
        }
        .button_card{
            margin-bottom: 10px;
        }

        .button_card{
            text-decoration: none;
            color: black;
            background-color: aqua;
        }
    }   