.button_id_card{
            font-family: 'Bebas Neue', cursive;
            width: 80px;
            margin-bottom: 30px;
            margin-left:60px;
            padding:10px;
            text-decoration: none;
            color: white;
            background-color: black;
            border-radius: 10%;
            border:solid 1px white;
}

.button_id_card2{
    font-family: 'Bebas Neue', cursive;
    width: 120px;
    margin-bottom: 30px;
    margin-left:40px;
    padding:10px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10%;
    border:solid 1px white;
}

.button_c_card{
            font-family: 'Bebas Neue', cursive;
            text-align: center;
            width: 40px;
            margin: 30px;
            padding:10px;
            text-decoration: none;
            color: white;
            background-color: black;
            border-radius: 10%;
            border:solid 1px white;
}

.card_n_p{
            color:white;
            font-family: 'Bebas Neue', cursive;
            font-size: 130%;
}