.nav{
    background-image: linear-gradient(180deg, rgb(229, 6, 241), black);
    padding-top: 30px;
    padding-bottom: 30px;
    .nav__li{
        margin-left: 20px;   
        .nav__li__1{
            text-decoration: none;
            color: white;
        }
    }
}